<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wackywords</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
</head>

<body>
  {{ sentence }}

  <style>
    body {
      text-align: center;
      font-family: 'Bowlby One SC', cursive;
      font-size: 5.5vw;
      padding: 6vw 0 0 0;
    }
  </style>
</body>

</html>
